<app-header />
<main>
    <ul id="users">

        @for (user of users; track user.id) {
        <li>
            <app-user [user]="user" [selected]="user.id === selectedUserId" (select)="onSelectUser($event)" />
        </li>
        }
        <!-- <li *ngFor="let user of users">
            <app-user [user]="users[1]" (select)="onSelectUser($event)" />
        </li>
        <li>
            <app-user [user]="users[2]" (select)="onSelectUser($event)" />
        </li>
        <li>
            <app-user [user]="users[3]" (select)="onSelectUser($event)" />
        </li>
        <li *ngIf="selecteduser"> // we can also use old if conditon , but need to inport in ts file with 'NgFor', 'NgIf'
            <app-user [user]="users[3]" (select)="onSelectUser($event)" />
        </li> -->

    </ul>
    @if (selectedUser) {
    <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name"></app-tasks>
    }@else{
        <p id="fallback">Select the user to see the task !</p>
    }

</main>
<router-outlet />